<!DOCTYPE html>
<html>

<head>
    <title>COV CNN WebAppr</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<body>
    <div class="row py-4">
        <div class="col-lg-6 mx-auto">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="ImgFile" />
                <input type="submit" name="submit" value="Solve" />
            </form>
        </div>
    </div>

</body>
</html>