<!DOCTYPE html>
<html>
  <title>COV-CNN</title>
  <head>
  {% load static %}
    <link rel="icon" href="../static/header.png" type="image/x-icon">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'indexstyle.css' %}">
  </head>
  <body>
    <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 50px; padding-top: 10px;">COV-CNN</h1>
    <p style="font-family: 'Gill   Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px; word-spacing: 4px; letter-spacing:0.5em;">CNN Based Detection of COVID from Chest X-Ray</p>
    <div class="row py-4">
      <div class="col-lg-6 mx-auto">
          <form method="post" id="imageForm" enctype="multipart/form-data" style="width:50%; margin:25px auto;">
            {% csrf_token %}
            <label for="ImgFile" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 20px">Upload Image</label>
              <input type="file" name="ImgFile" class="form-control" style="background:transparent; height:50px;" />
              <input type="submit" id="submitButton" class="btn btn-primary btn-center mt-3" name="submit" value="Solve" style="width: 120px; text-align:center" />
          </form>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <img src="{{image}}">
      </div>
      <div class="col-md-8">
        <table class="{{table}}">
          <thead>
            <tr>
              <th scope="col">{{col0}}</th>
              <th scope="col">{{col1}}</th>
              <th scope="col">{{col2}}</th>
              <th scope="col">{{col3}}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{row1}}</th>
              <td>{{v_pred}}</td>
              <td>{{r_pred}}</td>
              <td>{{x_pred}}</td>
            </tr>
            <tr>
              <th scope="row">{{row2}}</th>
              <td>{{v_cf}}</td>
              <td>{{r_cf}}</td>
              <td>{{x_cf}}</td>
            </tr>
            <tr>
              <th scope="row">{{row3}}</th>
              <td>{{v_time}}</td>
              <td>{{r_time}}</td>
              <td>{{x_time}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  </body>
</html>